<h1>My booking on <%= @booking.start_date.strftime("%d/%m/%Y") %> with <%= @booking.skill.user.first_name %>, at <%= @booking.start_date.strftime("%I:%M%p") %></h1>

<h4> Your booking request is: <%= @booking.status %></h4>

<div>
  <p>Content of your session with <%= @booking.skill.user.first_name %></p>
</div>

 <!--REJECT OR ACCEPT PENDING BOOKING-->

<div>
<% if @booking.status == "pending" %>

  <%= simple_form_for [@booking.skill, @booking], method: :patch do |f| %>
    <%= f.input :status, as: :hidden, input_html: { value: 'confirmed' } %>
    <%= f.button :submit, 'Accept', class: "btn btn-primary rounded-5", data: { turbo_confirm: "Do you want to accept this booking?" } %>
  <% end %>

  <%= simple_form_for [@booking.skill, @booking], method: :patch do |f| %>
    <%= f.input :status, as: :hidden, input_html: { value: 'rejected' } %>
    <%= f.button :submit, 'Reject', class: 'btn btn-warning rounded-5 text-light', data: { turbo_confirm: "Do you want to refuse this booking?" } %>
  <% end %>
<% end %>

</div>


<!--REVIEW IS COURSE HAS BEEN TAUGHT-->

<div class="container border border-light bg-warning rounded-5">
    <div class="review">
      <% if Time.zone.at(Date.current.to_time).to_datetime <= @booking.end_date && @booking.status == "confirmed" %>
        <h5>
        Please leave a review regarding the session you had with <%= @booking.skill.user.first_name %>
        </h5>
        <p>How was it?</p>
        <%= simple_form_for [@booking, @review] do |f| %>
          <%= f.input :title %>
          <%= f.input :comment %>
          <%= f.input :rating, collection: Review::AUTHORIZED_RATINGS,
                            include_blank: false %>
          <%= f.submit class: "btn btn-primary", value: "Valider" %>
        <% end %>
      <% end %>
  </div>

</div>
