<div class="img-book" style="background-image: url(<%= asset_url "#{@booking.skill.category}.jpg" %>)">
</div>

<div>
  <h1 class="show-book-h1"> Mon cours de <%= @booking.skill.name %> avec <%= @booking.skill.user.first_name %></h1>
  <div class="booking-status rounded-pill px-2 text-light <%= @booking.status == 'pending' ? 'orange' : (@booking.status == 'confirmed' ? 'green' : 'red') %>"">
    <%= @booking.status.capitalize %>
  </div>
  <h3 class="show-book-h3">Le <%= @booking.start_date.strftime("%d/%m/%Y") %> à <%= @booking.start_date.strftime("%I:%M%p") %></h3>

  <div class="show-book-div">
    <h5 class="show-book-h5 ">Le contenu de votre réservation:</h5>
    <p class="show-book-p"><%= @booking.content %></p>
  </div>
</div>
 <!--REJECT OR ACCEPT PENDING BOOKING-->

<div>
<% if @booking.status == "pending" && @booking.skill.user == current_user  %>

  <%= simple_form_for [@booking.skill, @booking], method: :patch do |f| %>
    <%= f.input :status, as: :hidden, input_html: { value: 'confirmed' } %>
    <%= f.button :submit, 'Accepter', class: "btn btn-primary rounded-5", data: { turbo_confirm: "Voulez-vous accepter cette réservation?" } %>
  <% end %>

  <%= simple_form_for [@booking.skill, @booking], method: :patch do |f| %>
    <%= f.input :status, as: :hidden, input_html: { value: 'rejected' } %>
    <%= f.button :submit, 'Refuser', class: 'btn btn-warning rounded-5 text-light', data: { turbo_confirm: "Voulez-vous refuser cette réservation?" } %>
  <% end %>
<% end %>

</div>


<!--REVIEW IS COURSE HAS BEEN TAUGHT-->

<div class="container border border-light bg-warning rounded-5">
    <div class="review">
      <% if Time.zone.at(Date.current.to_time).to_datetime <= @booking.end_date && @booking.status == "confirmed" && @booking.user == current_user %>
        <h5>
        Merci de laisser un commentaire à propos de <%= @booking.skill.user.first_name %>
        </h5>
        <p>Comment cela s'est-il passé?</p>
        <%= simple_form_for [@booking, @review] do |f| %>
          <%= f.input :title %>
          <%= f.input :comment %>
          <%= f.input :rating, collection: Review::AUTHORIZED_RATINGS,
                            include_blank: false %>
          <%= f.submit class: "btn btn-primary", value: "Valider" %>
        <% end %>
      <% end %>
  </div>

</div>
