<h1>Ma réservation le <%= @booking.start_date.strftime("%d/%m/%Y") %> avec <%= @booking.skill.user.first_name %>, à <%= @booking.start_date.strftime("%I:%M%p") %></h1>

<h4> Votre demande de réservation est: <strong><%= @booking.status %></strong></h4>

<div>
  <p class="fs-4">Le contenu de votre réservation<%= @booking.skill.user.first_name %>:</p>
  <p><%= @booking.content %></p>
</div>

 <!--REJECT OR ACCEPT PENDING BOOKING-->

<div>
<% if @booking.status == "En attente" && @booking.skill.user == current_user  %>

  <%= simple_form_for [@booking.skill, @booking], method: :patch do |f| %>
    <%= f.input :status, as: :hidden, input_html: { value: 'confirmée' } %>
    <%= f.button :submit, 'Accepter', class: "btn btn-primary rounded-5", data: { turbo_confirm: "Voulez-vous accepter cette réservation?" } %>
  <% end %>

  <%= simple_form_for [@booking.skill, @booking], method: :patch do |f| %>
    <%= f.input :status, as: :hidden, input_html: { value: 'rejectée' } %>
    <%= f.button :submit, 'Refuser', class: 'btn btn-warning rounded-5 text-light', data: { turbo_confirm: "Voulez-vous refuser cette réservation?" } %>
  <% end %>
<% end %>

</div>


<!--REVIEW IS COURSE HAS BEEN TAUGHT-->

<div class="container border border-light bg-warning rounded-5">
    <div class="review">
      <% if Time.zone.at(Date.current.to_time).to_datetime <= @booking.end_date && @booking.status == "confirmed" && @booking.user == current_user %>
        <h5>
        Merci de laisser un commentaire à propos de <%= @booking.skill.user.first_name %>
        </h5>
        <p>Comment cela s'est-il passé?</p>
        <%= simple_form_for [@booking, @review] do |f| %>
          <%= f.input :title %>
          <%= f.input :comment %>
          <%= f.input :rating, collection: Review::AUTHORIZED_RATINGS,
                            include_blank: false %>
          <%= f.submit class: "btn btn-primary", value: "Valider" %>
        <% end %>
      <% end %>
  </div>

</div>
