    <div class="modal fade" id="newSkill" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-insert-in-list-target="modal">
    <div class="modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Enregistre ta nouvelle compétence à enseigner !</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-insert-in-list-target="close"></button>
        </div>
        <div class="modal-body", style="height:90%">
            <%= simple_form_for skill, data: { insert_in_list_target: "form", action: "submit->insert-in-list#send" } do |f| %>
              <%= f.input :name, placeholder: "E.g. danse, dessin...", label:"Nom de votre compétence" %>
              <%= f.input :goal, placeholder: "E.g. assionnés, Initiés, Experts...", label:"Cette compétence est à destination de" %>
              <%= f.input :experience_year, placeholder: "E.g. 10 ans", label:"Nombre d'années d'expérience" %>
              <%= f.input :category, collection: Skill::CATEGORY, label:"Votre compétence s'intègre dans", placeholder:"E.g. Art, Sport..." %>
              <div class="d-flex justify-content-center"><%= f.submit "J'ajoute ma compétence", class:"rounded-pill px-4 py-2 text-light mt-3", style:"background-color:#0bb7bc; border:none", data_action:"click->dashboard#addSkill" %></div>
            <% end %>
        </div>

      </div>
    </div>
  </div>
