
  <h1>Modifier votre compétence</h1>

  <%= simple_form_for @skill do |f| %>
    <%= f.input :name%>
    <%= f.input :goal %>
    <%= f.input :experience_year%>
    <%= f.input :category, collection: Skill::CATEGORY %>
    <%= f.submit "Modifier La Compétence" %>
  <% end %>


  <%= link_to 'Retour au tableau de bord', dashboard_path %>
