
  <h1>Let's add a new skill to your skillset</h1>

  <%= simple_form_for @skill do |f| %>
    <%= f.input :name%>
    <%= f.input :goal %>
    <%= f.input :experience_year%>
    <%= f.input :category, collection: Skill::CATEGORY %>
    <%= f.submit "Create Skill" %>
  <% end %>

  <%= link_to 'Back to home', root_path, class: "back-link" %>