
  <h1>Ajoutons une nouvelle compétence à votre profil</h1>

  <%= simple_form_for @skill do |f| %>
    <%= f.input :name, placeholder: "Votre compétence" %>
    <%= f.input :goal, placeholder: "Quel est votre but?" %>
    <%= f.input :experience_year, placeholder: "Combien d'années d'expérience avez-vous?" %>
    <%= f.input :category, collection: Skill::CATEGORY %>
    <%= f.submit "Créer la compétence " %>
  <% end %>


  <%= link_to 'Mon Espace', dashboard_path, class: "back-link" %>
