<% if user_signed_in? && current_user.id == @skill.user_id %>
  <p><strong>You cannot reserve your own course</strong></p>
<% else %>


  <div class="reviews">
  </div>
  <!-- Button trigger modal -->




  <div class="d-flex justify-content-between">
    <div class="d-flex justify-content-start gap-4">
      <div class="category-pill-show btn btn-light mb-3 rounded-5"><%= @skill.category.capitalize %></div>
      <h1 class="title-show fw-bolder">Cours de <%= @skill.name %></h1>
    </div>
    <button type="button" class="btn btn-secondary rounded-5 px-4 mb-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Réservez maintenant !
    </button>
  </div>

  <div class="card-product mt-3 mb-5">
    <div class="teacher-show col-12" style="margin-left: 8px;height:90%; width: 200px; background-image: url('<%= @skill.user.photo.attached? ? cl_image_path(@skill.user.photo.key) : "https://images.unsplash.com/photo-1610429419519-8cdee5a8e615?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTB8fHBpYW5pc3RlfGVufDB8fDB8fHww" %>')">
    </div>
    <div class="card-product-infos">
      <p class="fs-2 col-12"><%= @skill.user.first_name %> <%= @skill.user.last_name %>, <%= @skill.user.age %> ans</p>
      <p class="col-12", style="width:96%"><%= @skill.user.bio %></p>
      <p class="col-12 pt-2", style="width:96%">Niveau localisation, mes cours sont dispensés au <%= @skill.user.address %>. Si vous n'êtes pas en mesure de vous rendre sur place, je suis enclin à dispenser les cours à distance.</p>
    </div>
  </div>

<div class="d-flex justify-content-evenly">
  <div class="box-show d-flex flex-column align-items-center justify-content-center">
    <%= image_tag "trophee-de-la-coupe.png", class:"image-box" %>
    <p class="info-box px-3 pb-3 text-center"><%= @skill.user.bookings.count %> cours dispensés</p>
  </div>
  <div class="box-show d-flex flex-column align-items-center justify-content-center">
    <%= image_tag "professeur.png", class:"image-box" %>
    <p class="info-box px-3 pb-3 text-center"><%= @skill.experience_year %> <%= (@skill.experience_year > 1) ? "années" : "année" %> d'expérience</p>
  </div>
  <div class="box-show d-flex flex-column align-items-center justify-content-center">
    <%= image_tag "cours-en-ligne.png", class:"image-box" %>
    <p class="info-box px-3 pb-3 text-center">Cours en <%= @skill.user.bookings.last&.session_format.presence || "Physique" %> !</p>
  </div>
</div>



<!--  <div class="d-flex justify-content-center mt-3 book-btn">
    <button type="button" class="btn btn-secondary rounded-5 px-3 fs-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
      Réservez maintenant !
    </button>
  </div>-->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Selectionnez un créneaux</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex" data-controller="slot" data-slot-id-value="<%= @skill.id %>">
          <%= simple_form_for [@skill, @booking], html: { class: 'd-flex w-100', data: { controller: 'flatpickr' } } do |f| %>
            <%= f.input :start_date, as: :string, label: false, input_html: { class: "d-none", data: { flatpickr_target: 'startDateInput', slot_target: 'date', action: 'change->slot#updateList' } } %>
            <div class="date-input d-none" data-slot-target="list">
              <%= render "skills/slots", locals: { slots: @slots} %>
            </div>
          </div>
          <div class="modal-footer">
            <%= f.submit "Réservez maintenant !", class: "create-booking", data: { bs_dismiss: 'modal' } %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render "shared/review_section", skill: @skill %>


 <% content_for :meta_title, "#{@skill.name} is on #{DEFAULT_META["meta_product_name"]}" %>
 <% content_for :meta_description, @skill.category %>
 <% content_for :meta_image, cl_image_path(@skill.user.photo.key) %>
