<h2>Bookings as student</h2>
<% current_user.bookings.reverse.each do |booking| %>
  <%= link_to booking_path(booking), class:"text-decoration-none text-reset" do %>
    <li>
      <%= booking.id %>
      <%= booking.skill.name %> | <%= booking.user.email %> | <%= booking.start_date %> | <%= booking.end_date %> | <%= booking.status %> |
      <%= link_to "Delete", booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    </li>
  <% end %>
<% end %>
