<h2>Bookings as student</h2>
<% current_user.bookings.reverse.each do |booking| %>
  <%= link_to booking_path(booking), class:"text-decoration-none text-reset" do %>
    <li>
      <%= booking.id %>
      <%= booking.skill.name %> | <%= booking.user.email %> | <%= booking.start_date %> | <%= booking.end_date %> | <%= booking.status %> |
      <%= link_to "Delete", booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    </li>
  <% end %>
<% end %>

<h3>My Incoming Bookings</h3>

<table class="table table-hover bg-transparent">
  <thead>
    <tr>
      <th scope="col", class="bg-transparent">#</th>
      <th scope="col", class="bg-transparent">Skill</th>
      <th scope="col", class="bg-transparent">Teacher's name</th>
      <th scope="col", class="bg-transparent">Date</th>
      <th scope="col", class="bg-transparent">Starting time</th>
      <th scope="col", class="bg-transparent">Booking status</th>
    </tr>
  </thead>
  <tbody>
<% current_user.bookings.reverse.each_with_index do |booking, index| %>
  <% if Time.zone.at(Date.current.to_time).to_datetime <= booking.end_date %>
      <div>
        <tr data-controller="table-links" value="<%= booking_path(booking) %>" data-action="click->table-links#show" data-table-links-target="link">
          <th scope="row", class="bg-transparent"><%= index + 1 %></th>
          <td class="bg-transparent"><%= booking.skill.name %></td>
          <td class="bg-transparent"><%= booking.skill.user.first_name %></td>
          <td class="bg-transparent"><%= booking.start_date.strftime("%d/%m/%Y") %></td>
          <td class="bg-transparent"><%= booking.start_date.strftime("%I:%M%p") %></td>
          <td class="bg-transparent"><%= booking.status %></td>
          <td class="bg-transparent"><%= link_to "Delete", booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></td>
        </tr>
      </div>
  <% end %>
<% end %>
  </tbody>
</table>

<h3>My Past Bookings</h3>

<table class="table table-hover bg-transparent">
  <thead>
    <tr>
      <th scope="col", class="bg-transparent">#</th>
      <th scope="col", class="bg-transparent">Skill</th>
      <th scope="col", class="bg-transparent">Teacher's name</th>
      <th scope="col", class="bg-transparent">Date</th>
      <th scope="col", class="bg-transparent">Starting time</th>
      <th scope="col", class="bg-transparent">Booking status</th>
    </tr>
  </thead>
  <tbody>
<% current_user.bookings.reverse.each_with_index do |booking, index| %>
  <% if Time.zone.at(Date.current.to_time).to_datetime > booking.end_date %>
    <%= link_to booking_path(booking), class:"text-decoration-none text-reset" do %>
      <tr>
        <th scope="row", class="bg-transparent"><%= index + 1 %></th>
        <td class="bg-transparent"><%= booking.skill.name %></td>
        <td class="bg-transparent"><%= booking.skill.user.first_name %></td>
        <td class="bg-transparent"><%= booking.start_date.strftime("%d/%m/%Y") %></td>
        <td class="bg-transparent"><%= booking.start_date.strftime("%I:%M%p") %></td>
        <td class="bg-transparent"><%= booking.status %></td>
        <td class="bg-transparent"><%= link_to "Delete", booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></td>
      </tr>
    <% end %>
  <% end %>
<% end %>
  </tbody>
</table>
