<%= link_to skill_path(user.skills.first), class:"text-decoration-none text-reset", data: { turbo: false } do %>

  <div class="card">
      <div class="top-part" style="background-image: url('<%= user.photo.attached? ? cl_image_path(user.photo.key) : "https://images.unsplash.com/photo-1610429419519-8cdee5a8e615?w=900&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTB8fHBpYW5pc3RlfGVufDB8fDB8fHww" %>')">
      </div>

      <div class="card-name">
          <h3><%=user.first_name %> <%=user.last_name %></h3>
      </div>
      <div class="bottom-part">
              <div class="details">
                <% skill = user.skills.first %>
                    <ul class="tags">
                        <% user.skills.each do |skill| %>
                        <li><%= skill&.name.capitalize %></li>
                        <% end %>
                    </ul>
                  <p>💼</i> <%= skill&.experience_year  %> ans d'expérience</p>
                  <p>⭐</i> <%= rand(2..5).to_f %>/5</p>
              </div>
      </div>
  </div>

<% end %>
