<div class="inbox-chat" data-controller="close-icon" data-close-icon-target="inboxChat">
  <div class="inbox-header" data-action="click->close-icon#toggle">
    <% other_user = chatroom.booking.other_user(current_user) %>
    <p>
      <%= other_user.first_name.capitalize %> <%= other_user.last_name.capitalize %> - <%= chatroom.booking.start_date.strftime("%d/%m/%Y") %>
      <% unread_count = chatroom.unread_messages_count_for(current_user) %>
      <% if unread_count > 0 %>
        <div class="unread-indicator" data-close-icon-target="unreadCount">
          <%= unread_count %>
        </div>
      <% end %>
    </p>
    <div class="inbox-options close-cross" data-action="click->close-icon#close">
      <i class="fa-solid fa-xmark"></i>
    </div>
  </div>
  <div class="chatroom"
       data-close-icon-target="chatroom"
       data-controller="chatroom-subscription"
       data-chatroom-subscription-chatroom-id-value="<%= chatroom.id %>"
       data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">
    <div class="messages" data-chatroom-subscription-target="messages">
      <% chatroom.messages.each do |message| %>
        <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
          <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
            <%= render "messages/message", message: message %>
          </div>
        </div>
      <% end %>
    </div>
    <%= simple_form_for [chatroom, @message], html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex", style: "height: 40px;" } do |f| %>
      <%= f.input :content,
                  label: false,
                  placeholder: "Partage ton savoir ...",
                  input_html: { class: "custom-input flex-grow-1" } %>
      <%= f.submit "Envoyer", class: "custom-submit" %>
    <% end %>
  </div>
</div>
