<div class="inbox-chat" data-controller="close-icon" data-close-icon-target="inboxChat">
  <div class="inbox-header" data-action="click->close-icon#toggle">
    <p><%= chatroom.booking.user.first_name.capitalize %> <%= chatroom.booking.user.last_name.capitalize %></p>
    <div class="inbox-options" data-action="click->close-icon#close">
      <i class="fa-solid fa-xmark"></i>
    </div>
  </div>
  <div class="chatroom"
       data-close-icon-target="chatroom"
       data-controller="chatroom-subscription"
       data-chatroom-subscription-chatroom-id-value="<%= chatroom.id %>"
       data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">
    <div class="messages" data-chatroom-subscription-target="messages">
      <% chatroom.messages.each do |message| %>
        <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
          <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
            <%= render "messages/message", message: message %>
          </div>
        </div>
      <% end %>
    </div>
    <%= simple_form_for [chatroom, @message], html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex", style: "height: 40px;" } do |f| %>
      <%= f.input :content,
                  label: false,
                  placeholder: "Share your wisdom...",
                  input_html: { class: "custom-input flex-grow-1" } %>
      <%= f.submit "Send", class: "custom-submit" %>
    <% end %>
  </div>
</div>