<div class="home-navbar">
  <%=link_to root_path do%>
    <%= image_tag "logo_passetemps", class:"logo"%>
  <% end %>
  <div class="pe-3">
    <%if current_user%>
      <%= link_to "Mon Espace", dashboard_path, class:"text-black px-2 text-decoration-none"%>
    <%else%>
      <%= link_to "Se Connecter", new_user_session_path, class:"text-black px-2 text-decoration-none"%>
      <%= link_to "S'inscrire", new_user_registration_path, class:"text-black px-2 text-decoration-none"%>
    <%end%>
  </div>
</div>
