<div class="inbox-wrapper" id="inbox-wrapper">
  <div class="inbox-links" data-controller="chat">
<i class="fa-solid fa-comments"></i> 
   <% unless @chatrooms.nil? %>
        <% @chatrooms.each do |chatroom| %>
          <div data-action="click->chat#reveal" class="inbox-link" data-chat-id="<%= chatroom.id %>">
            <div class="inbox-avatar">
              <%= image_tag "avatar.png", class: "img_avatar" %>
            </div>
            <div class="inbox-user-info">
              <% other_user = chatroom.booking.other_user(current_user) %>
              <p class="inbox-user-name"><%= other_user.first_name.capitalize %></p>
              <p class="inbox-user-skill"><%= chatroom.booking.skill.name.downcase %> - <%= chatroom.booking.start_date.strftime("%d/%m/%Y") %></p>
            </div>
            <% unread_count = chatroom.unread_messages_count_for(current_user) %>
            <% if unread_count > 0 %>
              <div class="unread-indicator">
                <%= unread_count %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="inbox-chat" id="test" data-controller="chat-container" data-close-icon-target="inboxChat">
    </div>
</div>
