<div class="row align-items-baseline">
  <%= image_tag "calendar-icon-two.png", style:"object-fit:contain;width:60px", class:"col-6" %>
  <h3 class="mt-5 col-6">Mes prochains cours </h3>
</div>

<%# if current_user.bookings_as_teacher.where('start_date > ?', Time.now.to_datetime).count == 0 %>
<!--  <p>You don't have any booked courses with student right now.</p>-->
<%# else %>

  <div data-insert-in-list-target="bookings">
    <table class="table table-hover bg-transparent">
      <thead>
        <tr>
          <th scope="col", class="bg-transparent">#</th>
          <th scope="col", class="bg-transparent">Compétence</th>
          <th scope="col", class="bg-transparent">Nom de l'élève</th>
          <th scope="col", class="bg-transparent">Date</th>
          <th scope="col", class="bg-transparent">Horaire de début</th>
          <th scope="col", class="bg-transparent">Statut de la réservation</th>
          <th scope="col", class="bg-transparent"></th>
          <th scope="col", class="bg-transparent"></th>
        </tr>
      </thead>
      <tbody>
    <% current_user.bookings_as_teacher.reverse.each_with_index do |booking, index| %>
      <% if Date.today <= booking.start_date && booking.status == "confirmed" %>
          <div>
            <tr data-controller="table-links" value="<%= booking_path(booking) %>" data-action="click->table-links#show" data-table-links-target="link">
              <th scope="row", class="bg-transparent"><%= index + 1 %></th>
              <td class="bg-transparent"><%= booking.skill.name.capitalize %></td>
              <td class="bg-transparent"><%= booking.skill.user.first_name %></td>
              <td class="bg-transparent"><%= booking.start_date.strftime("%d/%m/%Y") %></td>
              <td class="bg-transparent"><%= booking.start_date.strftime("%R") %></td>
              <td class="bg-transparent">
                <div class="booking-status rounded-pill px-2 text-light <%= booking.status == 'pending' ? 'orange' : (booking.status == 'confirmed' ? 'green' : 'red') %>"">
                <%= t(booking.status) %>
              </div>
              </td>
              <td class="bg-transparent"><%= link_to "Détails", booking_path(booking), class:"text-decoration-none" %></td>
              <td class="bg-transparent"><%= link_to "Supprimer", booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class:"text-decoration-none" %></td>
            </tr>
          </div>
      <% end %>
    <% end %>
      </tbody>
    </table>


    <div class="row align-items-baseline">
  <%= image_tag "warning-icon.png", style:"object-fit:contain;width:60px", class:"col-6" %>
  <h3 class="mt-5 col-6">Demandes de cours à traiter</h3>
</div>

  <table class="table table-hover bg-transparent">
      <thead>
        <tr>
          <th scope="col", class="bg-transparent">#</th>
          <th scope="col", class="bg-transparent">Compétence</th>
          <th scope="col", class="bg-transparent">Nom de l'élève</th>
          <th scope="col", class="bg-transparent">Date</th>
          <th scope="col", class="bg-transparent">Horaire de début</th>
          <th scope="col", class="bg-transparent">Statut de la réservation</th>
          <th scope="col", class="bg-transparent"></th>
          <th scope="col", class="bg-transparent"></th>
        </tr>
      </thead>
      <tbody>
    <% current_user.bookings_as_teacher.reverse.each_with_index do |booking, index| %>
      <% if booking.status == "pending" %>
          <div>
            <tr data-controller="table-links" value="<%= booking_path(booking) %>" data-action="click->table-links#show" data-table-links-target="link">
              <th scope="row", class="bg-transparent"><%= index + 1 %></th>
              <td class="bg-transparent"><%= booking.skill.name.capitalize %></td>
              <td class="bg-transparent"><%= booking.user.first_name %></td>
              <td class="bg-transparent"><%= booking.start_date.strftime("%d/%m/%Y") %></td>
              <td class="bg-transparent"><%= booking.start_date.strftime("%R") %></td>
              <td class="bg-transparent">
                <div class="booking-status rounded-pill px-2 text-light <%= booking.status == 'pending' ? 'orange' : (booking.status == 'confirmed' ? 'green' : 'red') %>"">
                <%= t(booking.status) %>
              </div>
              </td>
              <td class="bg-transparent"><%= link_to "Détails", booking_path(booking), class:"text-decoration-none" %></td>
              <td class="bg-transparent">

              <%= render "bookings/form_accept", booking: booking %>

              </td>
              <td class="bg-transparent">

              <%= render "bookings/form_refuse", booking: booking %>

              </td>
            </tr>
          </div>
      <% end %>
    <% end %>
      </tbody>
    </table>



  <div class="row align-items-baseline">
  <%= image_tag "historical.png", style:"object-fit:contain;width:60px", class:"col-6" %>
  <h3 class="mt-5 col-6">Mes cours passés </h3>
</div>
  <table class="table table-hover bg-transparent">
      <thead>
        <tr>
          <th scope="col", class="bg-transparent">#</th>
          <th scope="col", class="bg-transparent">Compétence</th>
          <th scope="col", class="bg-transparent">Nom de l'élève</th>
          <th scope="col", class="bg-transparent">Date</th>
          <th scope="col", class="bg-transparent">Horaire de début</th>
          <th scope="col", class="bg-transparent">Statut de la réservation</th>
          <th scope="col", class="bg-transparent"></th>
          <th scope="col", class="bg-transparent"></th>
        </tr>
      </thead>
      <tbody>
    <% current_user.bookings_as_teacher.reverse.each_with_index do |booking, index| %>
      <% if Date.today > booking.start_date && (booking.status == "rejected" || booking.status == "confirmed") %>
          <div>
            <tr data-controller="table-links" value="<%= booking_path(booking) %>" data-action="click->table-links#show" data-table-links-target="link">
              <th scope="row", class="bg-transparent"><%= index + 1 %></th>
              <td class="bg-transparent"><%= booking.skill.name.capitalize %></td>
              <td class="bg-transparent"><%= booking.user.first_name %></td>
              <td class="bg-transparent"><%= booking.start_date.strftime("%d/%m/%Y") %></td>
              <td class="bg-transparent"><%= booking.start_date.strftime("%R") %></td>
              <td class="bg-transparent">
                <div class="booking-status rounded-pill px-2 text-light <%= booking.status == 'pending' ? 'orange' : (booking.status == 'confirmed' ? 'green' : 'red') %>"">
                <%= t(booking.status) %>
              </div>
              </td>
              <td class="bg-transparent"><%= link_to "Détails", booking_path(booking), class:"text-decoration-none" %></td>
              <td class="bg-transparent"><%= link_to "Supprimer", booking_path(booking), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class:"text-decoration-none" %></td>
            </tr>
          </div>
      <% end %>
    <% end %>
      </tbody>
    </table>
  </div>
