<div class="sidebar" data-controller="sidebar" data-action="mouseover->sidebar#growSidebar mouseover->sidebar#normalSidebar">
  <ul>
    <li class="side-item">
      <i class="fa-solid fa-bars"></i>
      <p class="side-item-name" data-sidebar-target="sidebar">
        Menu
      </p>
    </li>
    <li class="side-item">
      <i class="fa-regular fa-id-card"></i>
      <p class="side-item-name" data-sidebar-target="sidebar">
        Mon Espace
      </p>
    </li>
    <li class="side-item">
      <i class="fa-regular fa-calendar-check"></i>
      <p class="side-item-name" data-sidebar-target="sidebar">
        Mes Sessions
      </p>
    </li>
    <li class="side-item">
      <p class="side-item-name" data-sidebar-target="sidebar">
        Mon Profil
      </p>
    </li>
    <li class="side-item">
      <p class="side-item-name" data-sidebar-target="sidebar">
        Mes Compétences
      </p>
    </li>
    <li class="side-item">
      <i class="fa-solid fa-comment"></i>
      <p class="side-item-name" data-sidebar-target="sidebar">
        Mes Avis
      </p>
    </li>
    <li class="side-item">
      <i class="fa-solid fa-user"></i>
      <p class="side-item-name" data-sidebar-target="sidebar">
        Mon Compte
      </p>
    </li>
    <li class="side-item">
      <i class="fa-solid fa-gear"></i>
      <p class="side-item-name" data-sidebar-target="sidebar">
        Paramètres
      </p>
    </li>
    <li class="side-item">
      <i class="fa-solid fa-right-from-bracket"></i>
      <p class="side-item-name" data-sidebar-target="sidebar">
        Se Déconnecter
      </p>
    </li>
  </ul>
</div>


 <%# <%= link_to "Menu", dashboard_path %>
  <%# <%= link_to "Menu", dashboard_path %>
  <%# <%= link_to "Mon Espace", dashboard_path %>
  <%# <%= link_to "Mes Sessions", dashboard_path %>
  <%# <%= link_to "Mon Profil", dashboard_path %>
  <%# <%= link_to "Mes Compétences", dashboard_path %>
  <%# <%= link_to "Mes Avis", dashboard_path %>
  <%# <%= link_to "Mon Compte", dashboard_path %>
  <%# <%= link_to "Paramètres", dashboard_path %>
  <%# <%= link_to "Se Déconnecter", dashboard_path %>
