<div class="sidebar">
  <ul class="side-items">
    <li class="side-item">
      <i class="fa-solid fa-bars"></i>
      <%= link_to "Menu", dashboard_path, :class=>'side-item-name'%>
    </li>
    <li class="side-item">
      <i class="fa-regular fa-id-card"></i>
      <%= link_to "Mon Espace", dashboard_path, :class=>'side-item-name'%>
    </li>
    <li class="side-item">
      <i class="fa-regular fa-calendar-check"></i>
      <%= link_to "Mes Sessions", dashboard_path, :class=>'side-item-name'%>
    </li>
    <li class="side-item">
      <i class="fa-regular fa-calendar-check"></i>
      <%= link_to "Mon Profil", dashboard_path, :class=>'side-item-name'%>
    </li>
    <li class="side-item">
      <i class="fa-regular fa-calendar-check"></i>
      <%= link_to "Mes Compétences", dashboard_path, :class=>'side-item-name'%>
    </li>
    <li class="side-item">
      <i class="fa-solid fa-comment"></i>
      <%= link_to "Mes Avis", dashboard_path, :class=>'side-item-name'%>
    </li>
    <li class="side-item">
      <i class="fa-solid fa-user"></i>
      <%= link_to "Mon Compte", dashboard_path, :class=>'side-item-name'%>
    </li>
    <li class="side-item">
      <i class="fa-solid fa-gear"></i>
      <%= link_to "Paramètres", dashboard_path, :class=>'side-item-name'%>
    </li>
    <li class="side-item">
      <i class="fa-solid fa-right-from-bracket"></i>
      <%= link_to "Se Déconnecter", destroy_user_session_path, :class=>'side-item-name'%>
    </li>
  </ul>
</div>
