<div class="sidebar position-relative">
  <% if current_user == nil  %>
    <div class="center-avatar d-none">
      <%render "shared/avatar_image", class: "img_avatar" %>
      <i class="fa-solid fa-gem"></i>
    </div>
  <% else %>
    <div class="center-avatar">
      <%render "shared/avatar_image", class: "img_avatar" %>
      <div class="user-infos">
        <%= current_user.first_name.capitalize %>
        <%= current_user.last_name.capitalize %>
      </div>
      <div class="user-infos">
        <i class="fa-solid fa-gem"></i>
        <%= current_user.token %>
      </div>
    </div>
  <% end %>

  <%= link_to root_path, class: "wrapper-sidebar-item" do %>
    <i class="fa-solid fa-house"></i>
    <p class="side-item-name">Accueil</p>
  <% end %>

  <%= link_to skills_path, class: "wrapper-sidebar-item" do %>
    <i class="fa-solid fa-magnifying-glass"></i>
    <p class="side-item-name">Recherche</p>
  <% end %>

  <%= link_to dashboard_path, class: "wrapper-sidebar-item" do %>
    <i class="fa-regular fa-id-card"></i>
    <p class="side-item-name">Mon Espace</p>
  <% end %>

  <%= link_to chatrooms_path, class: "wrapper-sidebar-item" do %>
    <i class="fa-solid fa-comment"></i>
    <p class="side-item-name">Messagerie</p>
  <% end %>

  <%= link_to dashboard_path, class: "wrapper-sidebar-item" do %>
    <i class="fa-solid fa-user"></i>
    <p class="side-item-name">Mon Compte</p>
  <% end %>

  <%= link_to dashboard_path, class: "wrapper-sidebar-item" do %>
    <i class="fa-solid fa-gear"></i>
    <p class="side-item-name">Paramètres</p>
  <% end %>

  <% if current_user == nil  %>
    <%= link_to new_user_session_path, class: 'wrapper-sidebar-item mt-auto' do %>
      <i class="fa-solid fa-right-to-bracket"></i>
      <p class="side-item-name">Se Connecter</p>
    <% end %>
  <% else %>
    <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: 'wrapper-sidebar-item mt-auto' do %>
      <i class="fa-solid fa-right-to-bracket"></i>
      <p class="side-item-name">Se Déconnecter</p>
    <% end %>
  <% end %>
</div>
