<div class="home-top-part text-center">
  <%= render "shared/home_navbar" %>
  <div class="research">
    <h1>PASSE TEMPS</h1>
    <p class="text-white">Trouvez votre nouvelle passion</p>
    <div class="container">
      <%= render "shared/searchbar" %>
    </div>
    <div>
      <%= render "shared/search_by_category_carousel" %>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="chevron-down mb-3">
    <path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/>
  </svg>
</div>

<div class="home-bottom-part my-5">
    <div class="concept-card-title">
      <h2 class="pb-2 futura-h2">Comment ça marche ?</h2>
    </div>

  <div class="concept-card-container">
    <div class="concept-card">
      <%= image_tag 'undraw_learning_sketching_nd4f (1).svg', alt: 'learning sketching' %>
      <h2 class="pb-2 futura-h2">1. Partagez</h2>
      <p>
Donnez de votre temps et partagez vos connaissances avec d'autres. En enseignant des cours sur des sujets que vous maîtrisez, vous aidez la communauté à grandir tout en renforçant vos propres compétences. Que ce soit en ligne ou en personne, chaque cours que vous donnez enrichit le savoir collectif et vous place comme un acteur clé de l'éducation participative.      </p>
    </div>

        <div class="concept-card">
      <%= image_tag 'undraw_bitcoin_p2p_re_1xqa.svg', alt: 'bitcoin' %>
      <h2 class="pb-2 futura-h2">2. Gagnez</h2>
      <p>
Pour chaque cours que vous donnez, vous gagnez des crédits. Ces crédits sont une reconnaissance de votre engagement et de votre expertise. Accumulez-les pour débloquer de nouvelles opportunités et augmenter votre impact. Plus vous partagez, plus vous gagnez, c'est aussi simple que ça.      </p>
    </div>

        <div class="concept-card">
      <%= image_tag 'undraw_road_to_knowledge_m8s0 (1).svg', alt: 'road to knowledge' %>
      <h2 class="pb-2 futura-h2">3. Apprenez</h2>
      <p>
Utilisez les crédits que vous avez gagnés pour suivre des cours proposés par d'autres membres de la communauté. Développez de nouvelles compétences, explorez de nouveaux domaines et continuez à grandir. Notre application vous offre un cycle continu d'apprentissage et d'enseignement, où chaque utilisateur peut être à la fois enseignant et élève.      </p>
    </div>
  </div>

  <%# <div class="review-card-container">
    <h2 class="pb-2 futura-h2">Testé et approuvé</h2>
    <div class="review-card">
      <p>
        Passe-Temps est une association qui vous permet d'apprendre tout ce que vous souhaitez avec un humain en face, le tout gratuitement !*
      </p>
    </div>
  </div> %>

  <div class="why-card-title">
    <h2 class="pb-2 futura-h2">Pourquoi Passe-Temps ?</h2>
  </div>
  <div class="why-card-container d-flex justify-content-center">
    <div class="why-card">
      <h2 class="pb-2 futura-h2">Une communauté dynamique</h2>
      <p>
Rejoignez une communauté où l'échange de connaissances est au cœur des interactions. En enseignant et en apprenant, vous faites partie d'un réseau actif et soutenant, dédié à l'éducation mutuelle et à la croissance personnelle.      </p>
    </div>
    <div class="why-card">
      <h2 class="pb-2 futura-h2">Des formations variées</h2>
      <p>
Avec les crédits que vous gagnez, vous avez accès à une multitude de cours couvrant divers domaines. Que vous souhaitiez améliorer vos compétences professionnelles, explorer de nouveaux hobbies ou approfondir vos connaissances, il y a toujours quelque chose à apprendre.      </p>
    </div>
    <div class="why-card">
      <h2 class="pb-2 futura-h2">Votre temps est précieux</h2>
      <p>
Cette application reconnaît et récompense votre investissement en temps et en savoir. En partageant vos connaissances, vous gagnez des crédits qui vous permettent de continuer à vous former. C'est une opportunité unique de transformer votre expertise en valeur tangible pour votre propre développement.      </p>
    </div>
  </div>



</div>
