<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= render "shared/searchbar" %>

<%= link_to "Becoming a teacher", new_skill_path %>

<% @users.each do |user| %>
  <% if user.skills.count > 0 %>
    <p><%= user.first_name %></p>
    <% user.skills.each do |skill| %>
      <p><%= skill.name %></p>
      <%= link_to "Voir les skills", skill_path(skill) %>
    <% end %>
  <% end %>
<% end %>
<%= link_to 'View All Chatrooms', chatrooms_path, class: 'btn btn-primary' %>
<div class="cards">
  <% @users.each do |user| %>
    <%= render "shared/card", user: user  %>


  <% end %>
</div>
