<div class="home-top-part text-center">
  <%= render "shared/home_navbar" %>
  <div class="research">
    <h1>PASSE TEMPS</h1>
    <p class="text-white">Trouvez votre nouvelle passion</p>
    <%= render "shared/searchbar" %>
    <div>
      <%= render "shared/search_by_category_carousel" %>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="chevron-down mb-3">
    <path d="M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z"/>
  </svg>
</div>

<div class="home-bottom-part my-5 mx-5">
    <div class="concept-card-title">
      <h2 class="pb-2 futura-h2">Comment fonctionne <div class="rotate-text text-light">Passe-Temps</div> ?</h2>
    </div>

  <div class="concept-card-container">
    <div class="concept-card">
      <%= image_tag 'undraw_learning_sketching_nd4f (1).svg', alt: 'learning sketching' %>
      <h2 class="pb-2 futura-h2">Partagez</h2>
      <p>
Partagez vos connaissances avec d'autres et enseignez des sujets que vous maîtrisez.</p>
    </div>

    <div class="concept-card">
      <%= image_tag 'undraw_bitcoin_p2p_re_1xqa.svg', alt: 'bitcoin' %>
      <h2 class="pb-2 futura-h2">Gagnez</h2>
      <p>
1 cours dispensé = 1 crédit gagné<br>1 cours suivi = 1 crédit dépensé</p>
    </div>

        <div class="concept-card">
      <%= image_tag 'undraw_road_to_knowledge_m8s0 (1).svg', alt: 'road to knowledge' %>
      <h2 class="pb-2 futura-h2">Contribuez</h2>
      <p>
        Contribuez à l'essor d'un apprentissage de qualité à moindre coût aux côtés d'experts
      </p>
    </div>

  </div>

  <%# <div class="review-card-container">
    <h2 class="pb-2 futura-h2">Testé et approuvé</h2>
    <div class="review-card">
      <p>
        Passe-Temps est une association qui vous permet d'apprendre tout ce que vous souhaitez avec un humain en face, le tout gratuitement !*
      </p>
    </div>
  </div> %>

  <div class="why-card-title">
    <h2 class="pb-2 futura-h2">Pourquoi <div class="rotate-text text-light">Passe-Temps</div> ?</h2>
  </div>
  <div class="why-card-container d-flex justify-content-center">

    <div class="why-card d-flex flex-column align-items-center">
      <h2 class="pb-2 futura-h2">Une communauté dynamique</h2>
      <p>
        Où l'échange de connaissances entre pairs est au cœur des interactions.
      </p>
          <%= image_tag "group-icon.png", class:"hp-icon justify-content-center" %>
    </div>

    <div class="why-card d-flex flex-column align-items-center">
      <h2 class="pb-2 futura-h2">Des formations variées</h2>
      <p>
        Les cours proposés couvrent un large éventail de sujets, adaptés à tous les niveaux.
      </p>
      <%= image_tag "course-icon.png", class:"hp-icon" %>
    </div>

    <div class="why-card d-flex flex-column align-items-center">
      <h2 class="pb-2 futura-h2">Votre temps est précieux</h2>
      <p>
        Nous valorisons et récompensons votre investissement en temps et en savoir.
      </p>
      <%= image_tag "clock-icon.png", class:"hp-icon" %>

    </div>
  </div>



</div>
