<!DOCTYPE html>
<html>
  <head>
    <title>PasseTemps</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'icons8-hourglass-50.png' %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">
    <%= javascript_importmap_tags %>
  </head>

  <body data-controller="aos">
    <% if current_page?(root_path) %>
      <%= yield %>
    <% else %>
      <%= render "shared/flashes" %>
      <div class="d-flex">
        <%= render "shared/sidebar" %>
        <div class="<%= params[:controller] == "skills" && params[:action] == "index" ? "" : "card-display-content"%>" style="width: 100%">
          <%= yield %>
        </div>
      </div>
    <% end %>
    <%= render "shared/inbox" if user_signed_in? %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
