<!DOCTYPE html>
<html>
  <head>
    <title>PasseTemps</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('icons8-hourglass-50.png') %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%#= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% if current_page?(root_path) %>
      <%= yield %>
    <%else%>
      <%= render "shared/flashes" %>
      <div class="d-flex">
        <%= render "shared/sidebar"  %>
        <div class="<%= params[:controller] == "skills" && params[:action] == "index" ? "" : "card-display-content"%>" style="width: 100%">
          <%= yield %>
        </div>
      </div>
    <%end%>
    <%= render "shared/inbox" if user_signed_in? %>
  </body>
</html>
